/* Navigation bar 

.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 0.5rem;
}

#sideNav{
    padding-left: 1rem;
    padding-right: 1rem;
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-brand {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.navname {
    display: block;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: beige;
    border: 1px solid beige;
    border-radius: 0.25rem;
}

.collapse{
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
}

/* profile picture on navbar 
.rounded-circle{
    border-radius: 50%;
}
.img-fluid {
    max-width: 100px;
    height: auto;
    position: relative;
    overflow: hidden;
}
.img-profile {
    margin-left: auto;
    margin-right: auto;

} */

/* skills */
section.resume-section .resume-section-content {
    width: 100%;
  }
  .subheading{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    max-width: 75rem;
}

.dev-icons {
    font-size: 3rem;
}
.list-inline{
    padding-left: 0;
    list-style: none;
}
ul{
    margin-top: 0;
    margin-bottom: 1rem;
}

/* footer */

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #175ca1;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }